@use "../../globals" as g;
@use "../../util" as u;

.donateinfo {
  background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.5), #222),
    url("../../../assets/images/DonateImage.jpg");
  min-height: 550px;
  background-size: cover;
  background-position: center 25%;
  padding-top: 10rem;
  color: #f9f9f9;
  .container {
    .allinfo {
      text-align: center;
      h2 {
        font-size: 38px;
        font-weight: 600;
        margin-bottom: -5px;
      }
      h4 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      p {
        width: 60%;
        margin: 0 auto;
        @include u.xl{
          width: 70%;
        }
        @include u.lg{
          width: 95%;
        }
      }
    }
  }
}
